<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Logo</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav m-auto mt-2 mt-lg-0" style="margin: auto;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Shop 1</a>
          <a class="dropdown-item" href="#">Shop 2</a>
          <a class="dropdown-item" href="#">Shop 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Stores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item cart-button">
        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i><span class="badge badge-light">{{ cartLength }}</span></a>
        <div class="cart-dropdown">
          <div *ngIf="cartLength; else otherBlock"><!--*ngIf="cartLength != 0"-->
            <table class="table table-responsive table-bordered text-center">
              <thead class="thead-light">
                <tr>
                  <td>Name</td>
                  <td>Quantity</td>
                  <td>Price</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of cartItem">
                  <td>{{ cart.name }}</td>
                  <td>
                    <input type='number' #qty name="qty" value="quantity" (keyup)="updateTotal(cart.price, qty.value, cart.id)" /><!---->
                  </td>
                  <td>
                    <div *ngIf="qty && selectProductId == cart.id; else showOther">
                      {{ totalAmount }}
                    </div>
                    <ng-template #showOther>
                      {{ cart.price }}
                    </ng-template>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td>{{ getTotalPrice() }}</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <button class="btn btn-info" (click)="buyProduct()">Buy Now</button></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <ng-template #otherBlock>
            No Items Added in Cart
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row" style="background-image: linear-gradient(to right, brown, orange);">
  <div class="container-fluid">
    <p class="text-center" style="margin: 10px;color: #fff;">
      Invite Friends To Big Fashion Festival & Get Up To $150 MynCash For Every Persion Who Visits
      <span style="margin-left: 20px;">
        <button class="btn btn-primary" style="background-color: #fff;color: #000;border-radius: 20px;border: none;">Invite Now</button>
      </span>
    </p>
  </div>
</div>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li> 
  <li><a href="#">Clothing</a></li> 
  <li><a href="#">Mens Clothing </a></li> 
  <li>All Mens Clothing</li>
</ul>
<div class="container-fluid ">
  <div class="row ml-3">
    <h2 class="heading">All Products ({{countProduct}} Products) </h2>
  </div>
</div>
<div class="container-fluid ">
  <div class="row ml-1 mt-3">
    <div class="col-md-8">
      Filters: 
      <ul class="filterList" >
        <li *ngFor="let option of filterOption" [ngClass]="{active: isActive(option.value)}" (click)="filterListData(option.value)">{{option.name}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <select #pricefilter (change)="priceFilterData(pricefilter.value)" class="form-control">
        <option *ngFor="let priceoption of priceFilterOption" [value]=priceoption.value >Sort By: {{priceoption.name}}</option>
      </select>
    </div>
  </div>
</div>
<hr />
<div class="container-fluid productList mt-5">
  <div class="row">
    <div class="col-md-3 mb-2" *ngFor="let product of productJSONData">
      <div class="card">
        <div class="card-body">
          <img src="{{product.image_src[0]}}" alt="Denim Jeans" style="width:100%">
          <div class="overlay overlay--invisible overlay--p-15">
            <div class="overlay--border"></div>
          </div>
          <div class="latest__item--content">
            <div class="latest__item--inner">
              <ul class="options">
                <li *ngFor="let opt of product.options" [ngClass]="{'active':selectOption == opt.value && product.id == selectProductId}" (click)="selectOptions(opt.value, product.id)">{{opt.value}}</li>
              </ul>
              <button *ngIf="showAddCartBtn && selectProductId == product.id" class="btn btn-primary cartbtn mt-3" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <h5 class="pvendor">{{ product.vendor }}</h5>
          <p class="pname">{{ product.name }}</p>
          <p class="pprice">${{ product.price }} <del>${{ product.compare_at_price }}</del> &nbsp;<span class="poff">(50% OFF)</span></p>
        </div>
      </div>
    </div>
  </div>
</div>